<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Artist albums</title>
    </head>
    <body>
        <% albumTrackArr.forEach(function(album) { %>
            <ul>
                <li> <%= album.name %> </li>
                <ol>
                    <% album.tracks.forEach(function(track) { %>
                        <li> <%= track %> </li>
                    <% }) %>

                </ol>
            </ul>
        <% }) %>
    </body>
</html>
