<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Artists from Search</title>
    </head>
    <body>
        <% artistData.forEach(function(artist) { %>
            <% //console.log(artist.name); %>
            <a href="albums/<%= artist.id %>"><%= artist.name %></a>
            <br>
        <% }); %>

    </body>
</html>
