<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <title>These are examples of API's in action</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js" charset="utf-8"></script>
    <!--<script src="javascript/app.js" charset="utf-8"></script>
    <link rel="stylesheet" href="css/style.css" media="screen" title="no title" charset="utf-8">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>

</head>
<body>
    <div class="col-lg-12 background-color">
        <h1> Music Is Fun </h1>
    </div>
    <div class="container-fluid">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div>
                <h2>Spotify Artist Search</h2>
                <div>
                    <div class="put-search">
                        <form method="POST" action="/artist">
                            <input type="text" name="artist" value="">
                            <input type="submit">
                        </form>
                    </div>
                    <div id="q-results" class="results"></div>
                </div>
            </div>
            <div id='albums-and-tracks'></div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</body>
</html>
